$branco-principal: #ffffff;
$azul-principal: #2A7AE4;
$cinza-claro: #A2A2A2;
$cinza-escuro: #464646;
$bg-cinza: #F5F5F5;
$bg-azul: #EAF2FD;
$vermelho-erro: #df2525;

body {
    font-family: 'Raleway', sans-serif;
}

// ...classe referente à função de imagem base64...
.img-base64 {
    display: none;
}

main {
    background-color: $bg-cinza;
}


@mixin animaBotao($bgColor) {
    @if $bgColor == $azul-principal {
        transition: 0.5s;
        background-color: #D4E4FA;
        color: $azul-principal;

    }@else if $bgColor == $branco-principal{
        transition: 0.5s;
        background-color: #5595E9;
        color: $branco-principal;
    }
    
}
