$branco-principal: #ffffff;
$azul-principal: #2A7AE4;
$cinza-claro: #A2A2A2;
$cinza-escuro: #464646;
$bg-cinza: #F5F5F5;
$bg-azul: #EAF2FD;

body {
    font-family: 'Raleway', sans-serif;
}

main {
    background-color: $bg-cinza;
}
