@media screen and (min-width: 1280px) {

    .input-mensagem-erro {
        font-size: 16px;
    }
    .container {
        width: 1136px;
        margin: 0 auto;
    }
    .cabecalho {
        padding: 32px 152px;
        
        &__logo {
            width: 176px;
            height: 50px;
        }
        
        & input {
            background: url(../assets/img/Icone-lupa.svg) no-repeat;
            background-position: 346px;
            background-color: #F5F5F5;
            border-radius: 20px;
            box-shadow: none;
            width: 393px;
            padding-left: 17px;
        }

        &__botao {
            width: 148px;
            font-size: 16px;
            left: 74%;
        }

        &__botao:hover {
            @include animaBotao($branco-principal);
        }

        &__lupa {
            display: none;
        }
    }

    .banner {
        height: 352px;

        &__texto {
            left: 152px;
            bottom: 42px;
        }

        &__botao {
            font-size: 16px;
            width: 130px;
            padding: 16px;
        }

        &__botao:hover {
            @include animaBotao($azul-principal);
        }
    }

    .produtos {
        
        &__header {
            padding: 64px 0 16px;
            background-position: 100% 66px;
            background-size: 22px;
            width: unset;
        }

        &__titulo {
            font-size: 32px;
        }

        &__botao {
            margin-right: calc(2%);

            &:hover {
                text-decoration: underline;
            }
        }


        &__card {
            padding: 0;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

            div:nth-of-type(5) {
                display: flex;
            }

            div:nth-of-type(6) {
                display: flex;
            }
        }

        .card {
            width: 176px;
            &__img {
                width: 176px;
            }

            & a:hover {
                text-decoration: underline;
                
            }
        }

        &:last-child {
            padding-bottom: 64px;
        }
    }

    .rodape {

        &__info {
            padding: 64px;
            display: flex;
            justify-content: space-between;
        }

        &__sobre a:hover {
            text-decoration: underline;
        }

        &__form {
            padding: 0;
            text-align: left;
            color: $cinza-escuro;
            position: unset;

            & input {
                width: 560px;

                &::placeholder {
                    left: calc(50% - 536px/2);
                }
            }

            & label {
                position: absolute;
                left: calc(50% + 19px);
                top: 91px;
            }

            & textarea {
                width: 560px;

                &::placeholder {
                    left: calc(50% - 536px/2);
                }
            }

            &-botao {
                width: 165px;
                padding: 16px;

                &:hover {
                    @include animaBotao($azul-principal);
                    cursor: pointer;
                }
            }

        }
    }

    //... Pagina mensagem enviada...
  
    .mensagem-cartao {

        &__botao:hover {
            @include animaBotao($azul-principal);
            cursor: pointer;
        }
    }

     //..... Página Login.....

     .login {

        &__titulo {
            font-size: 18px;
            line-height: 21px;
        }

        & input {
            width: 423px;
            height: 63.13px;

            &::placeholder {
                top: 26px;
            }
        }

        &__botao {
            width: 423px;
            height: 62px;
            font-size: 18px;

            &:hover {
                cursor: pointer;
                @include animaBotao($azul-principal);
            }
        }
    }

     //.... Cadastro de produto....

     .botao-adm {
        width: 181px;
        left: calc(73%);
    }

    .cadastrar-produto {
        align-items: center;
        padding: 64px 0;

        &__titulo {
            font-size: 32px;
            line-height: 38px;         
        }

        &__form {

            & input {
                width: 559px;
            }

            & textarea {
                width: 559px;
            }

        }

        &__botao {
            width: 559px;

            &:hover {
                @include animaBotao($azul-principal);
                cursor: pointer;
            }
        }
    }

    // .....Pagina produtos.....

    .todosOsProdutos {
        width: 1136px;
        margin: 0 auto;
        padding: 64px 0;

        &__titulo {
            font-weight: 700;
            font-size: 32px;
            line-height: 38px;
        }

        &__botao {
            color: $branco-principal;
            background-color: $azul-principal;
            font-size: 16px;
            line-height: 19px;
            padding: 15px 13.5px;

            &:hover {
                @include animaBotao($azul-principal);
            }
        }

        &__produtos {
            display: grid;
            gap: 16px;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

            .card {
                width: 176px;
                &__img {
                    width: 176px;
                }
                &__link:hover {
                    text-decoration: underline;
                }
            }

        }
    }

    //..... Página descricao do produto....

    .produto-descricao {
        
        padding: 64px 152px;
        align-items: center;

        &__img {
            width: 560px;
            height: 403px;
        }

        &__titulo {
            font-weight: 500;
            font-size: 52px;
            line-height: 61px;
        }

        &__preco {
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
        }

        &__detalhes {
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
        }
    }

    .produtos__similares {
        width: 1136px;
        margin: 0 auto;
        padding: 64px 0;
        color: $cinza-escuro;

        &__titulo {
            font-weight: 700;
            font-size: 32px;
            line-height: 38px;
        }

        &-card {
            display: grid;
            gap: 16px;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

            & a {
                font-size: 16px;
                
                &:hover {
                    text-decoration: underline;
                }
            }

            .card {
                width: 176px;

                &__img {
                    width: 176px;
                }
            }

            div:nth-of-type(5) {
                display: flex;
            }

            div:nth-of-type(6) {
                display: flex;
            }
        }
    }
}