@media screen and (min-width: 0) {

    // ....Página Home......

    .cabecalho {
        margin: 0 auto;
        padding: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__logo {
            width: 100px;
            height: 28px;
        }

        &__input {
          
            background-color: #F5F5F5;
            border-radius: 20px;
            box-shadow: none;
            width: 272px;
            height: 40px;
            padding-top: 4px;

            &::placeholder {
                top: 12px;
            }

        }
        .hidden {
            display: none;
        }

        &__botao {
            color: $azul-principal;
            width: 99px;
            font-size: 14px;
            position: absolute;
            left: calc(42%);
        }

        .header-search[data-search-button] {
            width: 24px;
            height: 24px;
            background-size: cover;
            background-image: url(../assets/img/Icone-lupa.svg);
            border: none;
            background-color: $branco-principal;
        }

        .header-search[data-search-button="fechar"] {
            background-image: url(../assets/img/icone-fechar.svg);
            width: 18px;
            height: 18px;
        }
    }

    .banner {
        position: relative;
        width: 100%;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(180deg, rgba(0, 0, 0, 0) 41.15%, rgba(0, 0, 0, 0.8) 100%), url(../assets/img/hero.jpg) no-repeat center;        
        background-size: cover;
        height: 50vw;
        color: $branco-principal;

        &__texto {
            position: absolute;
            left: 16px;
            bottom: 30px;
        }

        &__titulo {
            font-weight: 700;
            font-size: 22px;
            line-height: 26px;
            padding-bottom: 8px;
        }

        &__subtitulo {
            font-weight: 600;
            font-size: 14px;
            line-height: 16px;
            padding-bottom: 20px;
        }

        &__botao {
            color: $branco-principal;
            background-color: $azul-principal;
            font-size: 14px;
        }
    }
    
    .produtos {
        
        &__header {
            display: flex;
            justify-content: space-between;
            padding: 16px;
            align-items: center;
            background: url(../assets/img/icone-seta.svg) no-repeat;
            background-position: 96%;
            background-size: 18px;
        }

        &__titulo {
            font-weight: 700;
            font-size: 22px;
            line-height: 26px;
            color: $cinza-escuro;
        }

        &__botao {
            text-decoration: none;
            font-weight: 700;
            font-size: 14px;
            line-height: 16px;
            color: $azul-principal;
            margin-right: calc(5%);
        }

        &__card {
            display: flex;
            flex-wrap: wrap;
            gap: 16px;
            padding: 0 0 16px 16px;

            div:nth-child(n+5) {
                display: none;
            }

            .card {
                width: 156px;
            }
        }
    }
    
    .rodape {
        background-color: $bg-azul;

        &__info {
            text-align: center;
            margin: 0 auto;
        }

        &__logo {
            width: 176px;
            height: 50px;
            padding: 16px 0;
        }

        &__sobre {
            gap: 16px;
            display: flex;
            flex-direction: column;

            &-item a {
                color: $cinza-escuro;
                text-decoration: none;
                font-weight: 500;
                font-size: 16px;
                line-height: 19px;
            }
        }

        &__form {
            padding: 32px 16px;
            text-align: left;
            color: $cinza-escuro;
            position: relative;

            &-titulo {
                font-weight: 700;
                font-size: 16px;
                line-height: 19px;
                color: $cinza-escuro;
                padding-bottom: 8px;
            }

            & input {
                width: 91vw;
                height: 56px;
                margin-bottom: 16px;
            }

            & label {
                position: absolute;
                left: 31px;
                font-weight: 400;
                font-size: 12px;
                line-height: 26px;
                color: $cinza-claro;
            }

            & textarea {
                width: 91vw;
                height: 82px;
                margin-bottom: 8px;
            }

            &-botao {
                background-color: $azul-principal;
                color: $branco-principal;
                font-weight: 600;
                font-size: 14px;
                line-height: 16px;
                padding: 11px 14px;
            }
        }

        &__desenvolvedor {
            background-color: $branco-principal;
            line-height: 19px;
            text-align: center;
            font-size: 16px;
            font-weight: 500;
            padding: 32px;
        }
    }

    //... Pagina mensagem enviada...
    .caixa {
        padding: 32px 16px;
    }
    .mensagem-cartao {
        
        background-color: $branco-principal;
        padding: 28px;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        max-width: 720px;
        margin: 0 auto;
        border-radius: 10px;
        box-shadow:  0 5px 10px #55a6ff38;;

        &__icone {
            background: url(../assets/img/checkmark.svg) no-repeat;
            display: block;
            background-size: cover;
            width: 56px;
            height: 56px;
            margin-bottom: 16px;
        }

        &__titulo {
            font-size: 28px; 
            color: $cinza-escuro;
            text-align: center;
            margin-bottom: 16px;
        }

        &__botao {
            color: $branco-principal;
            background-color: $azul-principal;
        }
    }

    //..... Página Login.....

    .login {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 97px 0 76px;
        gap: 16px;

        &__titulo {
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
            color: $cinza-escuro;
        }

        & input {
            width: 275px;
            height: 41px;
            margin-bottom: 10px;
            padding-top: 8px;

            &::placeholder {
                left: 12px;
                top: 14px;
            }
        }
        
        &__botao {
            width: 109px;
            height: 40px;
            font-size: 14px;
            background-color: $azul-principal;
            color: $branco-principal;
            margin: 0 auto;
        }
    }

    //.... Cadastro de produto....

    .botao-adm {
        width: 152px;
        line-height: 16px;
        padding: 11px 6px;
        left: calc(39%);
    }

    .cadastrar-produto {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 16px 0;

        &__titulo {
            font-weight: 700;
            font-size: 22px;
            line-height: 26px;  
            color: $cinza-escuro;  
            padding-bottom: 16px;        
        }

        &__form {
            & label {
                font-weight: 400;
                font-size: 12px;
                line-height: 16px;
                color: $cinza-claro;
                position: absolute;
                padding: 8px 0 0 12px;
            }

            & input {
                width: 328px;
                height: 56px;
                margin-bottom: 16px;
                padding-top: 18px;
    
                &::placeholder {
                    left: 12px;
                    top: 30px;
                }

                &[type="file"] {
                    font-size: smaller;
                    padding-top: 25px;
                }
            }

            & textarea {
                width: 328px;
                height: 82px;
                padding-top: 18px;
                margin-bottom: 16px;

                &::placeholder {
                    left: 12px;
                }
            }

        }

        &__botao {
            width: 328px;
            height: 51px;
            background-color: $azul-principal;
            color: $branco-principal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
        }

        

    }

    // .....Pagina produtos.....

    .todosOsProdutos {
        margin: 0 auto;
        padding: 32px 0 0 16px;

        &__cabecalho {
            padding-bottom: 23px;
        }

        &__titulo {
            font-weight: 700;
            font-size: 22px;
            line-height: 26px;
            color: $cinza-escuro;
            padding-bottom: 22px;
        }

        &__botao {
            color: $branco-principal;
            background-color: $azul-principal;
            padding: 11px 18px;
            font-size: 14px;
            line-height: 16px;
        }

        &__produtos {
            display: flex;
            flex-wrap: wrap;
            gap: 16px;

            .card {
                position: relative;
                width: 156px;
        

                &__icons {
                    position: absolute;
                    right: 8px;
                    top: 8px;
                }

                &__img {
                    height: 174px;
                }
            }

        }
    }

    //..... Página descricao do produto....

    .produto-descricao {

        color: $cinza-escuro;

        &__img {
            width: 100vw;
            height: 50vw;
        }

        &__descricao {
            padding: 16px;
        }

        &__titulo {
            font-weight: 500;
            font-size: 22px;
            line-height: 26px;
            padding-bottom: 8px;
        }

        &__preco {
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
        }

        &__detalhes {
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            padding-top: 8px;
        }
    }

    .produtos__similares {
        margin: 0 auto;
        padding: 16px;
        color: $cinza-escuro;

        &__titulo {
            font-weight: 700;
            font-size: 22px;
            line-height: 26px;
            padding-bottom: 16px;
        }

        &-card {
            display: flex;
            flex-wrap: wrap;
            gap: 16px;

            .card {
                width: 156px;
                &__img {
                    width: 156px;
                }
            }

            div:nth-child(n+5) {
                display: none;
            }

        }
    }
}